<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <%- include('_externallink.ejs')%>
    <style>
        .bigImage{
            width: 100%;
            height: 400px;
            background-image: url('<%=product.thumbnail%>');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <script>
        function changeImage(currentImageObject){
            var mainImage = document.getElementById("mainImage");
            var temp = mainImage.src;
            mainImage.src = currentImageObject.src;
            currentImageObject.src = temp;
        }
    </script>
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
         <%- include('_siderbar.ejs')%>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                 <%- include('_topbar.ejs')%>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Product Description</h1>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="mb-4">
                                    <img id="mainImage" class="bigImage" src="<%=product.thumbnail%>"/>
                                </div>
                                <%
                                  let allImages = product.imageArray.trim().split(" ");
                                  for(let image of allImages){%>
                                    <img onClick="changeImage(this)" src="<%=image%>" width="100px" height="100px" class="ml-2 mb-2" style="box-shadow: 5px 5px 5px;"/>   
                                  <%}
                                %>
                            </div>
                            <div class="col-md-4 offset-1">
                                <h1><%=product.title%></h1>
                                <h4>Price : <%=product.price%> Rs.</h4>
                                <h3>Brand : <%=product.brand%></h3>
                                <h3>Category: <%=product.category%></h3>
                                <p><%=product.description%></p>
                                <h3>Overall rating : <%=product.rating%> / 5</h3>
                                
                            </div>
                        </div>
                    </div>                   

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>